<table class="customersTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Member Since</th>
        </tr>
    </thead>

    <tbody>

        {{#each result}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.gender}}</td>
            <td>{{{formatDate this.dob}}}</td>
            <td>{{this.email}}</td>
            <td>{{this.member_since}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<section class="submit-form">
    <div class="container">
        <div class="row">
            <h4 class="center">Add a New Customer</h4>
        </div>
        <div class="row">
            <form class="col s12" id="reg-form" method="POST" action="./customers">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate" required name="first_name">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" required name="last_name">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                        <input id="gender" placeholder="M or F" type="text" class="validate" required name="gender">
                        <label for="gender">Gender</label>
                    </div>
                    <div class="input-field col s4 offset-s6">
                        <input id="dob" type="date" class="datepicker validate" required name="dob">
                        <label for="dob">Date of Birth</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit"
                            class="grey darken-4 btn waves-effect waves-light col s12 center-align hoverable">SUBMIT
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>